[submodule "App_07"]
	path = App_07
	url = https://github.com/yurifsantos/Aprenda_Ingles.git
[submodule "App_01"]
	path = App_01
	url = https://github.com/yurifsantos/Seleciona_Num.git
[submodule "App_02"]
	path = App_02
	url = https://github.com/yurifsantos/Spotify_layout.git
[submodule "App_03"]
	path = App_03
	url = https://github.com/yurifsantos/Impar_Par.git
